In [7]:
import numpy as np 
import pandas as pd
import os

In [8]:
!pip3 install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 2.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [9]:
data = pd.read_excel("/Users/rabinnepal/gitHub/Happiness-Prediction-Project/backup dataset/World Happiness Report (2005-2023).xls")

In [10]:
data.head()

,Country,Year,Happiness Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Corruption
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620

In [11]:
sorted_dataset = data.sort_values(by="Year")

In [12]:
sorted_dataset.head()

,Country,Year,Happiness Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Corruption
984,Italy,2005,6.853784,10.697855,0.928001,70.599998,0.802195,NaN,0.943912
731,Germany,2005,6.619550,10.690792,0.963490,69.900002,0.846624,NaN,0.781007
1170,Lebanon,2005,5.491245,9.572591,0.796278,65.099998,0.703206,NaN,0.945177
677,France,2005,7.093393,10.636769,0.940338,70.699997,0.894819,NaN,0.687851
1753,Saudi Arabia,2005,7.079644,10.674833,0.867819,61.200001,NaN,NaN,0.505149

In [13]:
# Separate data into different dataframes for each year
years = sorted_dataset['Year'].unique()  # Get unique years in the dataset

years

array([2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [14]:

yearly_dataframes = {}  # Dictionary to store dataframes for each year

for year in years:
    yearly_dataframes[year] = sorted_dataset[sorted_dataset['Year'] == year]
    print(yearly_dataframes[year].shape)

# Access each year's dataframe using the year as the key in 'yearly_dataframes'
# For example:
print(yearly_dataframes[2015])

(27, 9)
(89, 9)
(102, 9)
(110, 9)
(114, 9)
(124, 9)
(146, 9)
(141, 9)
(136, 9)
(144, 9)
(142, 9)
(141, 9)
(147, 9)
(141, 9)
(143, 9)
(116, 9)
(122, 9)
(114, 9)
(137, 9)
             Country  Year  Happiness Score  GDP per Capita  Social Support  \
722          Georgia  2015         4.121941        9.441860        0.517372
1350          Mexico  2015         6.236287        9.880367        0.760614
355           Canada  2015         7.412773       10.768951        0.939067
2297           Yemen  2015         2.982674        7.772318        0.668683
2281         Vietnam  2015         5.076315        8.998519        0.848677
...              ...   ...              ...             ...             ...
1196         Liberia  2015         2.701591        7.365848        0.637666
653         Ethiopia  2015         4.573155        7.467755        0.625597
2192  United Kingdom  2015         6.515445       10.713269        0.935986
167          Belarus  2015         5.718908        9.818079        0.924073
1233      Luxembourg  2015         6.701571       11.636759        0.933605

      Life Expectancy   Freedom  Generosity  Corruption
722         64.199997  0.639945   -0.207957    0.502417
1350        65.800003  0.719466   -0.156223    0.707972
355         71.099998  0.931469    0.248908    0.427152
2297        58.400002  0.609981   -0.135052    0.829098
2281        64.900002       NaN    0.066410         NaN
...               ...       ...         ...         ...
1196        52.500000  0.671431   -0.062922    0.902673
653         58.299999  0.802643    0.112379    0.567027
2192        69.699997  0.832926    0.295811    0.456134
167         65.099998  0.622753   -0.095033    0.668678
1233        71.500000  0.932256    0.045661    0.375390

[142 rows x 9 columns]

In [15]:
yearly_dataframes[2021].shape

(122, 9)

In [ ]:
for year in years:
    yearly_dataframes[year] = sorted_dataset[sorted_dataset['Year'] == year]
    # Save each year's dataframe to a CSV file
    yearly_dataframes[year].to_csv(f'{year}.csv', index=False)